<!DOCTYPE html>
{% extends "templates.html" %} 
{% block content %}
{% load static %}
<html>
    <head>
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <!-- Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <!-- jQuery UI -->
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

        <!-- jQuery UI CSS -->
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

        <!-- Custom JS -->
        <script type="text/javascript" src="{% static 'js/distance.js' %}"></script>

        <!-- highcharts -->
        <script src="https://code.highcharts.com/stock/highstock.js"></script>
        <script src="https://code.highcharts.com/stock/modules/data.js"></script>
        <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/stock/modules/export-data.js"></script>
        <script src="https://code.highcharts.com/stock/modules/accessibility.js"></script>


        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.6.1/d3.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js"></script>

        <!-- DataTables -->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>

        <script src="https://code.highcharts.com/stock/highstock.js"></script>
        <script src="https://code.highcharts.com/stock/modules/data.js"></script>
        <script src="https://code.highcharts.com/stock/modules/drag-panes.js"></script>
        <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/stock/modules/accessibility.js"></script>
        <script src="https://code.highcharts.com/stock/modules/export-data.js"></script>
  
        {% csrf_token %}
        <script>
            csrf_token= "{{ csrf_token }}"
        </script>


    </head>

    <body>
        <div align=center class="container-fluid" style="margin-top:2%">
            {% comment %} nav bar {% endcomment %}
            <div class="nav nav-tabs" id="function-tabs">
                <div class="nav-item">
                    <button class="nav-link active" id="distance-method-tab" data-target="#distance-method" style="background-color: #1E90FF; color: white;">Distance_Method</button>
                </div>
                <div class="nav-item">
                    <button class="nav-link" id="other-method-tab" data-target="#other-method" style="background-color: #1E90FF; color: white;">Other_Method</button>
                </div>
                <div class="nav-item">
                    <button class="nav-link" id="backtrader-tab" data-target="#backtrader" style="background-color: #1E90FF; color: white;">Backtrader</button>
                </div>
                {% comment %} <div class="nav-item">
                    <button class="nav-link" id="finlab-tab" data-target="#finlab" style="background-color: #1E90FF; color: white;">Finlab</button>
                </div>
                <div class="nav-item">
                    <button class="nav-link" id="river-tab" data-target="#river" style="background-color: #1E90FF; color: white;">river</button>
                </div> {% endcomment %}
            </div>  
            {% comment %} 1.Distance Method   {% endcomment %}
            <div class=" tab-content col-18 mx-auto" id ="distance-method">
                <div class="card tab-content" style="width: 80%; margin: 20px auto; border: 1px solid #ddd; border-radius: 8px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);" id ="distance-method">
                    <div class="card-header bg-primary text-white" style="border-radius: 8px 8px 0 0;">
                        <h4 style="text-align: left; margin: 0;">
                            <b><i class="fas fa-user-cog"></i> Fill the Form</b>
                        </h4>
                    </div>
                    {% comment %} Distance Form Content{% endcomment %}
                    <div class="card-body " >
                        <div class="container-fluid">
                            <div class="row" style="width: 100%; margin-top: 20px;">
                                <div class="col-md-6" style="margin-bottom: 20px;">
                                    <label class="d-block" for="stock1-distance" style="font-weight: bold;">Stock 1</label>
                                    <input class="form-control text-center" style="width: 50%; margin: 0 auto;" type="text" id="stock1-distance" value="AAPL" required>
                                    
                                    <label class="d-block mt-4" for="start_date-distance" style="font-weight: bold;">Start Date</label>
                                    <input class="form-control" style="width: 50%; margin: 0 auto;" id="start_date-distance" type="date" value="2021-01-01">
                
                                    <label class="d-block mt-4" for="std-distance" style="font-weight: bold;">n * std</label>
                                    <input class="form-control text-center" style="width: 50%; margin: 0 auto;" type="text" id="std-distance" value="2" required>
                                </div>
                
                                <div class="col-md-6" style="margin-bottom: 20px;">
                                    <label class="d-block" for="stock2-distance" style="font-weight: bold;">Stock 2</label>
                                    <input class="form-control text-center" style="width: 50%; margin: 0 auto;" type="text" id="stock2-distance" value="GLD" required>
                
                                    <label class="d-block mt-4" for="end_date-distance" style="font-weight: bold;">End Date</label>
                                    <input class="form-control" style="width: 50%; margin: 0 auto;" id="end_date-distance" type="date" value="2024-01-01">
                
                                    <label class="d-block mt-4" for="window_size-distance" style="font-weight: bold;">Window Size</label>
                                    <input class="form-control text-center" style="width: 50%; margin: 0 auto;" type="text" id="window_size-distance" value="200" required>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <div class="card-footer text-muted text-center" style="border-radius: 0 0 8px 8px;">
                        <button class="btn btn-primary mr-2" id="distance_submit" type="button">Submit</button>
                        <button class="btn btn-success" id="distance_add_track" type="button">Add Track</button>
                
                        <div class="circle mt-3" id="distance_circle" style="display: none;">
                            <div class="spinner-border text-primary"></div>
                            <span class="load">Wait for searching...</span>
                        </div>
                    </div>
                </div>
                
                <br>
                
                <!-- Startegy Signals -->
                <div id="" class="card distance_result" style="display: none; width: 80%;"> 
                    <div class="card-header">
                        <h4 style="text-align:left"><b><i class="fas fa-user-cog"></i> Startegy Results</b></h4> 
                    </div>
                    <div class="card-body">
                        <div class="tab-pane fade show active" id="signals_plot_tab-distance" role="tabpanel" aria-labelledby="distance-tab">

                            <h2 style="text-align: center;">Signals Details</h2>
                            <br>
                            <div style="width:90%;">
                                <div id ="signals_plot" style="height: 550px; margin: 1%;">
                                </div>
                            </div>

                            <div style="width:90%;">
                                <div id ="bollinger_bands_plot" style="height: 550px; margin: 1%;">
                                </div>
                            </div>
                            <table id="signals_table" class="display table table-striped">

                            </table>
                            <br>
                            <hr>

                            <h2 style="text-align: center;">Trading Details</h2>
                            <div style="width:90%;">
                                <div id ="profit_loss_plot" style="height: 550px; margin: 1%;">
                                </div>
                            </div>
                            
                            <table id="exe_signals_table" class="display table table-striped">
                                <thead>
                                </thead>
                                <tbody>                   
                                </tbody>
                            </table>
                        </div> 
                    </div>
                </div>
                <br>
            </div>
            {% comment %} 2.other-method {% endcomment %}
            <div id="other-method" class="tab-content mt-3 d-none">
                <div class="card" style="width: 80%; margin: 20px auto; border: 1px solid #ddd; border-radius: 8px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);"> <!-- 控制卡片的最大宽度 -->
                    <div class="card-header fs-5 fw-bold">
                        RSI-CROSS
                    </div>
                    <div class='card-body'>
                        <form id="ajax_form">
                            {% csrf_token %}    
                            <!-- 股票代號和策略選擇 -->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label for="stock1" class="form-label">Stock_no</label>
                                        <input type="text" class="form-control" id="stock1" name="stock1" value="2330">
                                    </div>
                                </div>
            
                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label for="strategy" class="form-label">策略選擇</label>
                                        <select id="strategy" name="strategy" class="form-select">
                                            <option value="RSI">RSI黃金交叉策略</option>
                                            <option value="low_high">低買高賣策略</option>
                                            <option value="MACD">MACD策略</option>
                                            <option value="RSI_overbuy">RSI超買超賣策略</option>
                                            <option value="MA">均線多排策略</option>
                                            <option value="single_MA">單一均線策略</option>
                                            <option value="MA_ATR">均線搭配ATR交叉策略</option>
                                            <option value="breakout">追突破策略</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
            
                            <!-- RSI參數輸入 -->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">Short_RSI</span>
                                        <input type="number" class="form-control" id="short_rsi" name="short_rsi" value="5">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">Long_RSI</span>
                                        <input type="number" class="form-control" id="long_rsi" name="long_rsi" value="20">
                                    </div>
                                </div>
                            </div>
            
                            <!-- 開始日期和結束日期 -->
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="start_date" class="form-label">Start_date</label>
                                    <input type="date" class="form-control" id="start_date" name="start_date" required value="2021-01-01">
                                </div>
            
                                <div class="col-md-6">
                                    <label for="end_date" class="form-label">end_date</label>
                                    <input type="date" class="form-control" id="end_date" name="end_date" required>
                                </div>
                            </div>
                        </form>
            
                        
                        <button class="btn btn-secondary mt-3" id="submit2" style="background-color:#1E90FF; color: #ffffff; border: none; font-weight: bold;">Submit</button>
                        <hr>
            
                        <!-- 表格显示 -->
                        <table id="rsitable" class="display" style="width:100%">
                            <thead id="table-head">
                                <tr>
                                    <!-- 表格標題 -->
                                </tr>
                            </thead>
                            <tbody>
                                <!-- 表格數據 -->
                            </tbody>
                        </table>
                        <div id="container" style="width:100%; height:400px;"></div>
                        <div id="container2" style="width:100%; height:400px;"></div>
                        <div id="performance-table"></div>
                    </div>
                </div>
            </div>
            {% comment %} 3. Backtrader {% endcomment %}
            <div id="backtrader" class="tab-content mt-3 d-none">
                <div class="card" style="width: 80%; margin: 20px auto; border: 1px solid #ddd; border-radius: 8px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
                    <div class="card-header fs-5 fw-bold">
                        股票進出場回測
                    </div>
                    <div class='card-body'>
                        <form id="ajax_form" method="post">
                            {% csrf_token %}
                            <!-- 股票代號和策略選擇 --><!-- 單筆下單股數 -->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="Backtrader_stock" class="form-label">Select stock: <i class="bi bi-info-circle"></i></label>
                                        <input type="text" class="form-control" id="Backtrader_stock" name="Backtrader_stock" value="2330">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="order_units" class="form-label">單筆下單股數:</label>
                                        <input type="number" class="form-control" id="order_units" name="order_units" value="1000">
                                    </div>
                                </div>
                            </div>
            
                            <!-- 策略退出選擇 -->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="exit_strategy" class="form-label">Select exit Strategy: <i class="bi bi-info-circle"></i></label>
                                        <select id="exit_strategy" name="exit_strategy" class="form-select">
                                            <option value="RSI_death">RSI死亡交叉</option>
                                            <!-- 可以添加其他選項 -->
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="strategy" class="form-label">Select entry Strategy: <i class="bi bi-info-circle"></i></label>
                                        <select id="strategy" name="strategy" class="form-select">
                                            <option value="RSI">RSI黃金交叉策略</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
            
                            <!-- RSI參數輸入 -->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="Backtrader_short_rsi" class="form-label">短期RSI週期:</label>
                                        <input type="number" class="form-control" id="Backtrader_short_rsi" name="Backtrader_short_rsi" value="5">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="Backtrader_long_rsi" class="form-label">長期RSI週期:</label>
                                        <input type="number" class="form-control" id="Backtrader_long_rsi" name="Backtrader_long_rsi" value="20">
                                    </div>
                                </div>
                            </div>
            
                            <!-- 資金與手續費 -->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="capital" class="form-label">初始資金:</label>
                                        <input type="number" class="form-control" id="capital" name="capital" value="1000000">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="fee" class="form-label">手續費 : (%)</label>
                                        <input type="number" class="form-control" id="fee" name="fee" value="0.1425">
                                    </div>
                                </div>
                            </div>
            
                            <!-- 開始日期和結束日期 -->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="Backtrader_start_date" class="form-label">開始日期:</label>
                                        <input type="date" class="form-control" id="Backtrader_start_date" name="Backtrader_start_date" required value="2022-02-01">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="Backtrader_end_date" class="form-label">結束日期:</label>
                                        <input type="date" class="form-control" id="Backtrader_end_date" name="Backtrader_end_date" required value="2024-09-30">
                                    </div>
                                </div>
                            </div>
            
                            <!-- 提交按鈕 -->
                            <button class="btn btn-secondary mt-3" id="submit3" style="background-color: #1E90FF; color: #ffffff; border: none; font-weight: bold;">SUBMIT</button>
                        </form>
            
                        <hr>
            
                        <!-- 表格显示 -->
                        <div id="performance-table"></div>
                        <!-- 交易紀錄的表格 -->
                        <table id="transactions-table" class="display" style="width:100%"></table>
                    </div>
                </div>
            </div>

            <!-- Backtrader -->
            <div id="gogoro" class="tab-content mt-3 d-none">
                <div class="card">
                    <div class="card-header fs-5 fw-bold">gogoro Form</div>
                    <div class="card-body">
                        <p>Is up to new stragetegy.</p>
                        <!-- Add Backtrader-specific content here -->
                    </div>
                </div>
            </div>

            <!-- Backtrader -->
            <div id="backtrader" class="tab-content mt-3 d-none">
                <div class="card">
                    <div class="card-header fs-5 fw-bold">next Form</div>
                    <div class="card-body">
                        <p>Is up to new stragetegy.</p>
                        <!-- Add Backtrader-specific content here -->
                    </div>
                </div>
            </div>

            {% comment %} 4.FinLab {% endcomment %}
            {% comment %} <div id ="finlab"class="tab-content mt-3 d-none">
                <div class='card-body'>
                    <div class="card body"
                        style=" display: flex;flex-direction: row;justify-content: space-between;align-items: flex-start;">
                        <div id="type_select" class="list-group" style="list-style-type: none;width: 20%;margin: 0;padding: 0;margin-left: 10%;">
                            <a class="list-group-item list-group-item-action disabled" aria-current="true">
                                選擇類型
                            </a>
                            <a onclick="showType('type1')" id="select_type1"
                                class="list-group-item list-group-item-action">價量</a>
                            <a onclick="showType('type2')" id="select_type2"
                                class="list-group-item list-group-item-action">選成長</a>
                        </div>
                        <div style="width: 80%; margin-right: 10px;">
                            <div class="card" style="width:80%;">
                                <div class="card-header">選股條件清單</div>
                                <div class="card-body" id="all_type_Divs">
                                    <div id='type1' style='display: none;'>
                                        <ul class="nav nav-tabs" id="option_select1">
                                            <!-- <li class="nav-item">
                                                <a id="select_form1" class="nav-link active" aria-current="page"
                                                    onclick="showquoteForm('form1')">close</a>
                                            </li>
                                            <li class="nav-item">
                                                <a id="select_form2" class="nav-link"
                                                    onclick="showquoteForm('form2')">volumn</a>
                                            </li> -->
                                        </ul>
                                        <form id="choose_table1"></form>
                                    </div>
        
                                    <div id='type2' style='display: none;'>
                                        <ul class="nav nav-tabs" id="option_select2">
                                            <!-- <li class="nav-item">
                                                <a id="select_form10001" class="nav-link active" aria-current="page"
                                                    onclick="showfundamentalForm('form10001')">monthly</a>
                                            </li> -->
                                        </ul>
                                        <form id="choose_table2"></form>
                                    </div>
                                    <div id="extreme"></div>
                                </div>
                            </div>
                            <div>
                                <form id="main">
                                    <div class="card text-center" style="width:80%;">
                                        <div class="card-header">
                                            以下條件有項<input id="or_num" name="or_num" type="text" min=0 max=10 step=1 value="0"
                                                onpaste="return false" onkeypress="restrictInput(event, 'int')"
                                                style='width:5%'>符合
                                        </div>
                                        <div class="card-body">
                                            <blockquote class="blockquote mb-0">
                                                <div class="pre-scrollable"
                                                    style="overflow:scroll; overflow-x:auto; width:90%; height:300px; margin-left: 5%;"
                                                    id="or_filter"></div>
                                            </blockquote>
                                        </div>
                                    </div>
                                    <div class="card text-center" style="width:80%;">
                                        <div class="card-header">
                                            以下條件都符合
                                        </div>
                                        <div class="card-body">
                                            <blockquote class="blockquote mb-0">
                                                <div class="pre-scrollable"
                                                    style="overflow:scroll; overflow-x:auto; width:90%; height:300px; margin-left: 5%;"
                                                    id="main_filter"></div>
                                            </blockquote>
                                        </div>
                                    </div>
        
                                    
                                    <div class="card text-center" style="width:80%;">
                                        <div class="card-header">排除以下條件</div>
                                        <div class="card-body">
                                            <blockquote class="blockquote mb-0">
                                                <div class="pre-scrollable"
                                                    style="overflow:scroll; overflow-x:auto; width:90%; height:300px; margin-left: 5%;"
                                                    id="not_filter"></div>
                                            </blockquote>
                                        </div>
                                    </div>
                                    <input type="text" id="select_date" name="daterange" value="05/01/2023 - 05/09/2023" style='display: none;'/>
                                    <input type="date" id = "select_one_date", name="select_one_date">
        
                                    <div id="all_extreme_choose" class="card-body"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button type="button" class="btn btn-secondary" id="submit" style='display: block;'>
                            Search
                        </button>
                        <div id = "loading" style='display: none; justify-content: center; align-items: center;'>
                            <div class="spinner-border" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
        
                        <button type="button" id="show_code" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#codeModal" style='display: block;'>
                            show code
                        </button>
                        <button type="button" id="save" class="btn btn-success"  data-bs-toggle="modal"
                        data-bs-target="#saveModal" style='display: block;'>
                            save strategy
                        </button>
                    </div>
                     <!-- detail table -->
                     <div class="card-body" id="table_place"></div>
                    <!-- Modal -->
                    <div class="modal fade" id="codeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">code</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div id="code_place"></div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" id="copy_code" class="btn btn-primary"
                                        onclick="copyEvent('code_place')">copy</button>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                    <!-- Modal -->
                    <div class="modal fade" id="saveModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">save</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div id="save_setting">
                                        <div>策略名稱：<input type="text" id="strategy_name"></div>
                                        <div style="display:none">追蹤：<input id="tracker_button" type="checkbox" data-toggle="switchbutton" checked data-size="sm"></div>
                                    </div>
                                    <div id="status"></div>
                                    <div class="modal-footer">
                                        <button type="button" id="save_filter" class="btn btn-primary" >Save</button>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> {% endcomment %}
            {% comment %} 5.River {% endcomment %}
            <div id="river" class="tab-content mt-3 d-none">
                <div class="card" style="width: 80%; margin: 20px auto; border: 1px solid #ddd; border-radius: 8px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
                    <div class="card-header bg-primary text-white" style="border-radius: 8px 8px 0 0;">
                        <h4 style="text-align: left; margin: 0;">
                            <b><i class="fas fa-user-cog"></i> Fill the Form</b>
                        </h4>
                    </div>
                    <!--River form Content-->
                    <div class="card-body">
                        <div class="container-fluid">
                            <div class="row" style="width: 100%; margin-top: 20px;">
                                <div class="col-md-6" style="margin-bottom: 20px;">
                                    <label class="d-block" for="stock1-distance" style="font-weight: bold;">Stock Name</label>
                                    <input class="form-control text-center" style="width: 50%; margin: 0 auto;" type="text" id="stock1-distance" value="AAPL" required>
                                    
                                
                    
                                    <label class="d-block mt-4" for="time_unit" style="font-weight: bold;">Time Unit</label>
                                    <select class="form-control text-center" style="width: 50%; margin: 0 auto;" id="time_unit">
                                        <option value="MONTH">Month</option>
                                        <option value="QUAR">Quarter</option>
                                        <option value="YEAR">Year</option>
                                    </select>
                                    
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted text-center" style="border-radius: 0 0 8px 8px;">
                    <button class="btn btn-primary mr-2" id="river_submit" type="button">Submit</button>
                    <button class="btn btn-success" id="river_add_track" type="button">Add Track</button>
            
                    <div class="circle mt-3" id="river_circle" style="display: none;">
                        <div class="spinner-border text-primary"></div>
                        <span class="load">Wait for searching...</span>
                    </div>
                </div>
            </div>
            {% comment %} Next HW {% endcomment %}
        {% comment %} </div>    {% endcomment %}
    </body>

</html>
{% endblock %}
