<html> 
    <header>
        
        {% include "includes/header.html" %}
        {% if request.user.is_authenticated %}
            <div>
                <p style="text-align: right; font-family: 'Roboto', sans-serif; font-size: 21px; font-weight: 400; color: #333;margin-top: 20px;padding-right: 80px;">Login:   {{request.user}} &nbsp;&nbsp;&nbsp;&nbsp;</p>
            </div>
        {% endif %}
    </header>

    
    <body style="background-color:GhostWhite"> 
        {% block content %} 
        {% endblock content %} 
    </body> 
    

    <footer>
        {% include "includes/footer.html" %} 
    </footer>

</html> 